 
  /* --Contact-- */
  
  .contact {}
  
  .contact__title {
	margin: 0 0 3rem 0;
  }
  
  .contact__form {
	margin: 1rem auto 3rem;
  }
  
  .form-contact {
	max-width: 70rem;
	text-align: center;
  }
  
  .form-contact__item {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  
  .form-contact__item input,
  .form-contact__textarea {
	width: 100%;
	padding: 1.5rem;
	font-size: 1.6rem;
	color: var(--text-color);
	background-color: var(--second-bg-color);
	border-radius: 0.8rem;
	margin: 0.7rem 0;
  }
  
  .form-contact__item input {
	width: 49%;
  }
  
  .form-contact__textarea {
	resize: none;
	margin: 0.7rem 0;
  }
  
  .form-contact__submit-btn {
	display: inline-block;
	padding: 1rem 2.8rem;
	background-color: var(--main-color);
	border-radius: 4rem;
	box-shadow: var(--box-shadow);
	font-size: 1.6rem;
	color: var(--second-bg-color);
	letter-spacing: 0.1rem;
	font-weight: 600;
	cursor: pointer;
  }
  
  .form-contact__submit-btn:hover {
	box-shadow: none;
  }
  
  .contact__info {
	text-align: center;
	margin-bottom: 4rem;
  }
  
  .contact__info-item {
	font-size: 1.6rem;
	margin-bottom: 1.5rem;
  }
  
  .contact__info-item i {
	margin-right: 1rem;
  }
  