 Dark mode styles
 .dark-mode {
    background-color: #1a1a1a;
    color: #af1111;
  }
  
  /* Dark mode adjustments */
  .dark-mode .home__content {
    color: #c02a2a;
  }
  
  .dark-mode .home__title {
    color: #fff;
  }
  
  .dark-mode {
    background-color: #1a1a1a;
    color: #fff;
  }
  
  /* Dark mode adjustments */
  .dark-mode .home__content,
  .dark-mode .home__title,
  .dark-mode .social-media__link {
    color: #fff;
  }
  
  /* Toggle button styles */
  .dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 8px;
    background-color: #2a2c2b;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
  }
  
  .dark-mode-toggle.active .toggle-indicator {
    background-color: #00ff00; /* Adjusted color for active state */
  }
  
  .toggle-indicator {
    width: 30px;
    height: 15px;
    background-color: #ccc;
    border-radius: 15px;
    margin-right: 8px;
    transition: background-color 0.3s ease;
  }
  /* Adjust the button position for smaller screens */
  @media (max-width: 768px) {
    .dark-mode-toggle {
      top: 80px; /* Adjust the top position for responsiveness */
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @media (min-width: 769px) {
    .dark-mode-toggle {
      left: 500px; /* Adjust the right position for desktop view */
      right: auto;
      transform: none;
    }
  }
  
  