/* SkillsBox.css */
.skillsBox {
    position: relative;
    max-width: 1000px; /* Increase the max-width to your desired value */
    width: 100%;
    padding: 100px; /* Increase the padding to your desired value */
    margin: 100px auto;
    background: #3AAFA9;
    box-sizing: border-box;
    color: #fff;
}


.skillsBox h1 {
    margin: 0 0 20px;
    padding: 0;
    font-size: 32px; /* Increase the font size */
}

.skills {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.skills h2 {
    margin: 10px 0 0;
    padding: 0;
    font-size: 18px;
    text-transform: uppercase;
}

.progress {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    line-height: 22px;
    overflow: hidden;
}

.progress .percent {
    text-align: right;
    color: #fff;
    padding-right: 10px;
    border-right: 2px solid #fff;
    animation: animate 0.5s linear infinite;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%, transparent);
    background-size: 30px 30px;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 30px 0;
    }
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .skillsBox {
        padding: 30px;
        margin: 50px auto;
    }
}
