/* SkillsBox.css */
.skillsBox {
    position: relative;
    max-width: 800px; /* Decreased max-width */
    width: 100%;
    padding: 50px; /* Decreased padding */
    margin: 50px auto; /* Decreased margin */
    background: #3AAFA9;
    box-sizing: border-box;
    color: #fff;
}



.skillsBox h1 {
    margin: 0 0 20px;
    padding: 0;
    font-size: 32px; /* Increase the font size */
}

.skills {
    position: relative;
    width: 100%;
    margin-bottom: 10px; /* Decreased margin to give less space between skills */
  }

.skills h2 {
    margin: 10px 0 0;
    padding: 0;
    font-size: 18px;
    text-transform: uppercase;
}

.progress {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    line-height: 22px;
    overflow: hidden;
    margin-bottom: 10px; /* Decreased margin to give space between skills */
  }
  
  
  
  
  
.progress .percent {
    text-align: right;
    color: #fff;
    padding-right: 10px;
    border-right: 2px solid #0f0f0f; /* Change the border color to red */
    animation: animate 0.5s linear infinite;
    background: linear-gradient(45deg, rgba(10, 10, 10, 0.25) 25%, transparent 25%, transparent 50%, rgba(10, 10, 10, 0.25) 50%, rgba(17, 17, 17, 0.25) 75%, transparent 75%, transparent); /* Change the gradient color to red */
    background-size: 30px 30px;
}


@keyframes animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 30px 0;
    }
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .skillsBox {
        padding: 30px;
        margin: 50px auto;
    }
}
