*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}
.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.container .card
{
    position: relative;
    width: 220px;
    height: 250px;
    background: #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}
.container .card:hover
{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}
.container .card .percent
{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
    
}
.container .card .percent svg
{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}
.container .card .percent svg circle
{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 10;
    stroke: #191919;
    transform: translate(5px, 5px);
}
.container .card .percent svg circle:nth-child(2)
{
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}
@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
.dot
{
    position: absolute;
    inset: 2px;
    z-index: 10;
    animation: animateDot 2s linear forwards;
}
@keyframes animateDot
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(calc(3.6deg * var(--num)));
    }
}
.dot::before
{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr)
}
.number
{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}
.number h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 2.5em;
    transition: 0.5s;
}
.number h2 span
{
    font-weight: 300;
    color: #fff;
    font-size: 0.5em;
}
.card:hover .percent .number h2
{
    color: #fff;
    font-size: 3em;
}
.number p
{
    font-weight: 300;
    font-size: 0.75em;
    line-height: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
}
.number p:hover
{
    color: #fff;
    font-size: 2em;
}
.credits {
  position: absolute;
  bottom: 0;
  right: 50%;
  a {
    font-family: 'Comic Sans MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(129, 129, 129);
    
    text-decoration: none;
  }
}