:root {
	--bg-color: #f0f0f0;
	--second-bg-color: #e5e5e5;
	--text-color: #333333;
	--main-color: #3AAFA9;
	--main-color-dark: rgba(66, 133, 244, 0.5);
	--box-shadow: 0 0 1rem var(--main-color);
  }


   

  
  *,
  *::before,
  *::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
  }
  
  a {
	text-decoration: none;
  }
  
  ul,
  ol,
  li {
	list-style: none;
  }
  
  img {
	vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-weight: inherit;
	font-size: inherit;
  }
  
  
  html,
  body {
	height: 100%;
	font-size: 75%;
	line-height: 1;
	background-color: var(--bg-color);
	color: var(--text-color);
	/* font-family: "" */
  }

  
  
  body._lock {
	overflow: hidden;
  }

  
  /* --Header-- */
  
  /* Add this media query for responsiveness */
@media (max-width: 768px) {
	.header {
	  padding: 1rem 5%;
	}
  
	.header__content {
	  flex-direction: column;
	  align-items: center;
	}
  
	.header__logo {
	  width: 80px; /* Adjust the width as needed */
	  margin: 0; /* Remove margin */
	}
  
	.menu__list {
	  margin-top: 1rem;
	  display: flex;
	  justify-content: space-around;
	  width: 100%;
	}
  
	.menu__list > li {
	  margin: 0;
	}
  }
  
  /* --Header-- */
/* --Header-- */

/* --Header-- */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem 9%;
	background-color: var(--main-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
  }
  
  .header__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
  }

  
  .header__logo {
	width: 50px;
	height: auto;
	display: block;
	margin-left: 1rem;
	cursor: pointer;
	transition: transform 0.3s ease;
	
  }
  
  /* Adjust the position of the h2 element */
  .home__title {
	margin-left: 1rem; /* Add margin to create spacing between the logo and the h2 element */
  }
  
  
  .header__logo:hover {
	transform: scale(1.1);
  }
  
  .header__menu {}

  
  
  /* --Nav menu-- */
  
  .menu {}

  .menu__icon {
    display: block;
    cursor: pointer; /* Add cursor pointer for clickability */
  }
  
  .menu__body {}
  
  .menu__list {
    display: flex;
  }
  
  .menu__list > li {
	position: relative;
	margin: 0 0 0 4rem;
  }
  
  .menu__link {
	font-size: 1.7rem;
	color: var(--text-color);
	transition: color 0.3s ease;
  }
  
  .menu__link:hover,
  .menu__link._active {
	color: #f0f0f0;
  }
  
  /* --General-- */
  
  .page-section {
	min-height: 100vh;
	padding: 10rem 9% 5rem;
  }
  
  .page-section__title span {
	color: var(--main-color);
  }
  
  .page-section__title {
	text-align: center;
	font-weight: 700;
	font-size: 4.5rem;
  }
  
  .btn {
	display: inline-block;
	padding: 1rem 2.8rem;
	background-color: var(--main-color);
	border-radius: 4rem;
	box-shadow: var(--box-shadow);
	font-size: 1.6rem;
	color: var(--second-bg-color);
	letter-spacing: 0.1rem;
	font-weight: 600;
	cursor: pointer;
  }
  
  .btn:hover {
	box-shadow: none;
  }
  
  /* --Home-- */
  
  
  
  

  /* Skils*/


.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.container .card
{
    position: relative;
    width: 220px;
    height: 250px;
    background: #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}
.container .card:hover
{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}
.container .card .percent
{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
    
}
.container .card .percent svg
{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}
.container .card .percent svg circle
{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 10;
    stroke: #191919;
    transform: translate(5px, 5px);
}
.container .card .percent svg circle:nth-child(2)
{
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}
@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
.dot
{
    position: absolute;
    inset: 2px;
    z-index: 10;
    animation: animateDot 2s linear forwards;
}
@keyframes animateDot
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(calc(3.6deg * var(--num)));
    }
}
.dot::before
{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr)
}
.number
{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}
.number h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 2.5em;
    transition: 0.5s;
}
.number h2 span
{
    font-weight: 300;
    color: #fff;
    font-size: 0.5em;
}
.card:hover .percent .number h2
{
    color: #fff;
    font-size: 3em;
}
.number p
{
    font-weight: 300;
    font-size: 0.75em;
    line-height: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
}
.number p:hover
{
    color: #fff;
    font-size: 2em;
}
.credits {
  position: absolute;
  bottom: 0;
  right: 50%;
  a {
    font-family: 'Comic Sans MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(129, 129, 129);
    
    text-decoration: none;
  }
}

/*Work Experience*/
.work-exp {
    overflow: auto;
    padding: 50px;
}
.work-exp .work {
    float: left;
    width: 50%;
}
.work-exp .exp {
    float: left;
    width: 45%;
}
.work-exp .work h2 {
    color: #555;
    margin: 5px 0 25px 50px;
}
.work-exp .work p {
    margin: 0 0 10px 50px;
    line-height: 1.4;
    color: #999;
    font-size: 15px;
    width: 85%
}
.work-exp .exp {float: left;margin:38px 0 0 30px}
.work-exp .exp h3 {color:#666;margin-bottom:0;}
.work-exp .exp h5 {color:#888;margin-bottom:0;margin-top:10px;}
.work-exp .exp h5 p {
    display: inline;
    line-height: 1.4;
    color: #999;
    font-size: 13px;
    width: 85%
}

h2 {
	font-size: 28px; /* Increase the font size for h2 */
	font-weight: bold;
	margin-bottom: 16px;
  }
  
  h3 {
	font-size: 24px; /* Increase the font size for h3 */
	margin-bottom: 8px;
  }

  h5{
	font-size: 24px; /* Increase the font size for h5 */
	margin-bottom: 8px;
  }


  
  .job-details {
	font-size: 18px; /* Increase the font size for job details */
	color: #555;
  }
  
  .job-duration {
	font-weight: bold;
  }

.work-exp .exp .pbox {
    width: 60px;
    height: 25px;
    background-color:#30C873;
    margin-bottom: 20px;
}
.work-exp .exp .pbox p {
    text-align: center;
    color: #fff;
    line-height: 25px;
}
.work-exp .exp div p {
    font-size: 13px;
    line-height: 1.4;
    color: #999;
    margin-top: 20px;
    margin-bottom: 30px;
}
.work-exp .exp .margin0 {margin-bottom:0}
/*Work Experience*/
  
  
  



  
 
 
  

/* --Media-- */
@media (max-width: 1200px) {
	html {
		font-size: 55%;
	}
	.menu__link {
		font-size: 2.6rem;
	}
}
@media (max-width: 991px) {
	.header {
		padding: 2rem 3%;
	}
	.menu__link {
		font-size: 2.6rem;
	}
	.page-section {
		padding: 10rem 3% 5rem;
	}
	.footer {
		padding: 2rem 3%;
	}
}
@media (max-width: 767px) {
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}
	.menu__icon span,
	.menu__icon:before,
	.menu__icon:after {
		left: 0;
		position: absolute;
		height: 0.1rem;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #131313;
	}
	.menu__icon:before,
	.menu__icon:after {
		content: '';
	}
	.menu__icon:before {
		top: 0;
	}
	.menu__icon:after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%) translate(0px, -50%);
	}
	.menu__icon._active span {
		transform: scale(0);
	}
	.menu__icon._active:before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.menu__icon._active:after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}
	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: var(--second-bg-color);
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}
	.menu__body._active {
		left: 0;
	}
	.menu__body:after {
		content: '';
		position: fixed;
		width: 100%;
		height: 70px;
		top: 0;
		left: 0;
		background-color: var(--bg-color);
	}
	.menu__list {
		flex-direction: column;
		align-items: center;
	}
	.menu__list > li {
		margin: 0 0 6rem 0;
	}
	.menu__link {
		font-size: 3.6rem;
	}
	.header__logo {
		z-index: 5;
	}
	.home {
		flex-direction: column;
	}
	.home__image img {
		width: 70vw;
		margin: 4rem 0;
	}
	.about {
		flex-direction: column-reverse;
	}
	.about img {
		width: 70vw;
		margin: 4rem 0;
	}
	.services__title {
		margin: 0px 0 4rem 0;
	}
	.portfolio__items {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 617px) {
	.portfolio__items {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 450px) {
	html {
		font-size: 50%;
	}
	.form-contact__item input {
		width: 100%;
	}
}
@media (max-width: 365px) {
	.home__image img,
	.about__image img {
		width: 90vw;
	}
	.footer {
		flex-direction: column-reverse;
	}
	.footer__icon-top {
		margin: 0 0 2rem 0;
	}
}
