:root {
	--bg-color: #f0f0f0;
	--second-bg-color: #e5e5e5;
	--text-color: #333333;
	--main-color: #3AAFA9;
	--main-color-dark: rgba(66, 133, 244, 0.5);
	--box-shadow: 0 0 1rem var(--main-color);
  }


   

  
  *,
  *::before,
  *::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
  }
  
  a {
	text-decoration: none;
  }
  
  ul,
  ol,
  li {
	list-style: none;
  }
  
  img {
	vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-weight: inherit;
	font-size: inherit;
  }
  
  
  html,
  body {
	height: 100%;
	font-size: 75%;
	line-height: 1;
	background-color: var(--bg-color);
	color: var(--text-color);
	/* font-family: "" */
  }

  
  
  body._lock {
	overflow: hidden;
  }

  
  /* --Header-- */
  
  /* Add this media query for responsiveness */
@media (max-width: 768px) {
	.header {
	  padding: 1rem 5%;
	}
  
	.header__content {
	  flex-direction: column;
	  align-items: center;
	}
  
	.header__logo {
	  width: 80px; /* Adjust the width as needed */
	  margin: 0; /* Remove margin */
	}
  
	.menu__list {
	  margin-top: 1rem;
	  display: flex;
	  justify-content: space-around;
	  width: 100%;
	}
  
	.menu__list > li {
	  margin: 0;
	}
  }
  
  /* --Header-- */
/* --Header-- */

/* --Header-- */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem 9%;
	background-color: var(--main-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
  }
  
  .header__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
  }
  
  .header__logo-container {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
  }
  
  .header__logo {
	width: 50px;
	height: auto;
	display: block;
	margin-right: 1rem;
	cursor: pointer;
	transition: transform 0.3s ease;
  }
  
  /* Adjust the position of the h2 element */
  .home__title {
	margin-left: 1rem; /* Add margin to create spacing between the logo and the h2 element */
  }
  
  
  .header__logo:hover {
	transform: scale(1.1);
  }
  
  .header__menu {}
  
  /* --Nav menu-- */
  
  .menu {}

  .menu__icon {
    display: block;
    cursor: pointer; /* Add cursor pointer for clickability */
  }
  
  .menu__body {}
  
  .menu__list {
    display: flex;
  }
  
  .menu__list > li {
	position: relative;
	margin: 0 0 0 4rem;
  }
  
  .menu__link {
	font-size: 1.7rem;
	color: var(--text-color);
	transition: color 0.3s ease;
  }
  
  .menu__link:hover,
  .menu__link._active {
	color: #f0f0f0;
  }
  
  /* --General-- */
  
  .page-section {
	min-height: 100vh;
	padding: 10rem 9% 5rem;
  }
  
  .page-section__title span {
	color: var(--main-color);
  }
  
  .page-section__title {
	text-align: center;
	font-weight: 700;
	font-size: 4.5rem;
  }
  
  .btn {
	display: inline-block;
	padding: 1rem 2.8rem;
	background-color: var(--main-color);
	border-radius: 4rem;
	box-shadow: var(--box-shadow);
	font-size: 1.6rem;
	color: var(--second-bg-color);
	letter-spacing: 0.1rem;
	font-weight: 600;
	cursor: pointer;
  }
  
  .btn:hover {
	box-shadow: none;
  }
  
  /* --Home-- */
  
  .home{
  
    /* top: 150px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;
    padding-top: 70px;
    padding-left: 100px;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 100%;
    top: 0;
    

}




  
  .home__content {
	padding: 0 4rem 0 0;
	color: var(--main-color);
  }
  
  .home__title {
	font-size: 3.2rem;
	color: #070707;
  }
  
  .home__title span {
	color: var(--main-color);
  }
  
  .home__title:nth-of-type(2) {
	margin: 0 0 1.5rem 0;
  }
  
  .home__name {
	font-size: 5.6rem;
	font-weight: 700;
	line-height: 1.3;
  }
  
  .home__description {
	font-size: 1.6rem;
	line-height: 1.25;
	
  }
  
  .home__social {}
  
  .social-media {}
  
  .social-media__link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	height: 4rem;
	background-color: transparent;
	border: 0.2rem solid var(--main-color);
	border-radius: 50%;
	font-size: 2rem;
	color: var(--main-color);
	margin: 2rem 1.5rem 3rem 0;
	transition: all 0.5s ease;
  }
  
  .social-media__link:hover {
	background-color: var(--main-color);
	color: var(--second-bg-color);
	box-shadow: var(--box-shadow);
  }
  /* Animate*/
  .animated {
	animation: bounce 1s infinite;
  }
  
  @keyframes bounce {
	0%, 100% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(-10px);
	}
  }
  /* Rotate */

.rotate {
	animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  


.icon {
	transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .icon:hover {
	transform: translateY(-10px) translateZ(20px) rotateX(20deg);
  }
  

.rotate {
	transition: transform 0.3s ease;
  }
  
  .rotate:hover {
	transform: translateY(-5px) rotateX(15deg);
  }
  

  .home__image img {
	width: 35vw;
	animation: floatImage 4s ease-in-out infinite;
  }
  
  @keyframes floatImage {
	0% {
	  transform: translateY(0);
	}
	100% {
	  transform: translateY(0);
	}
  }
  
  
  /* --About-- */
  
  .about {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--second-bg-color);
  }
  
  .about__title {
	text-align: left;
	margin: 0 0 0.7rem 0;
  }
  
  .about__image img {
	width: 35vw;
  }
  
  .about__content {
	padding: 0 0 0 4rem;
  }
  
  .about__sub-title {
	color: var(--main-color);
	line-height: 1.2;
	font-size: 2.6rem;
  }
  
  .about__description {
	font-size: 1.6rem;
	margin: 0.5rem 0 3rem;
  }

/*Work Experience*/
.work-exp {
    overflow: auto;
    padding: 50px;
}
.work-exp .work {
    float: left;
    width: 50%;
}
.work-exp .exp {
    float: left;
    width: 45%;
}
.work-exp .work h2 {
    color: #555;
    margin: 5px 0 25px 50px;
}
.work-exp .work p {
    margin: 0 0 10px 50px;
    line-height: 1.4;
    color: #999;
    font-size: 15px;
    width: 85%
}
.work-exp .exp {float: left;margin:38px 0 0 30px}
.work-exp .exp h3 {color:#666;margin-bottom:0;}
.work-exp .exp h5 {color:#888;margin-bottom:0;margin-top:10px;}
.work-exp .exp h5 p {
    display: inline;
    line-height: 1.4;
    color: #999;
    font-size: 13px;
    width: 85%
}
.work-exp .exp .pbox {
    width: 60px;
    height: 25px;
    background-color:#30C873;
    margin-bottom: 20px;
}
.work-exp .exp .pbox p {
    text-align: center;
    color: #fff;
    line-height: 25px;
}
.work-exp .exp div p {
    font-size: 13px;
    line-height: 1.4;
    color: #999;
    margin-top: 20px;
    margin-bottom: 30px;
}
.work-exp .exp .margin0 {margin-bottom:0}
/*Work Experience*/
  
  /* --Services-- */
  
  .services {}
  
  .services__title {
	margin: 0 0 5rem 0;
  }
  
  .services__items {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
  }
  
  .services__item {
	flex: 1 1 30rem;
	background-color: var(--second-bg-color);
	padding: 3rem 2rem 4rem;
	border-radius: 2rem;
	text-align: center;
	border: 0.2rem solid var(--bg-color);
	transition: all 0.5s ease;
  }
  
  .services__item i {
	font-size: 7rem;
	color: var(--main-color);
  }
  
  .services__item:hover {
	border-color: var(--main-color);
	transform: scale(1.02);
  }
  
  .services__sub-title {
	font-size: 2.6rem;
  }
  
  .services__description {
	font-size: 1.6rem;
	margin: 1rem 0 3rem;
  }
  
  /* --Portfolio-- */
  
  .portfolio {
	background-color: var(--second-bg-color);
  }
  
  .portfolio__title {
	margin: 0 0 4rem 0;
  }
  
  .portfolio__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 2.5rem;
  }
  
  .portfolio__item{
	position: relative;
	border-radius: 2rem;
	box-shadow: 0 0 1rem var(--bg-color);
	overflow: hidden;
	display: flex;
	max-height: 300px;
  }
  
  .portfolio__item img {
	width: 100%;
  }
  
  .portfolio__image {
	transition: 0.5s ease;
	width: 100%;
	position: relative;
  }
  
  .portfolio__image:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.2;
  }
  
  .portfolio__item:hover .portfolio__image {
	transform: scale(1.1);
  }
  
  .portfolio__layer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f0f0f0;
	border-radius: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 0 4rem;
	transform: translateY(100%);
	transition: all 0.4s ease;
  }
  
  .portfolio__item:hover .portfolio__layer {
	transform: translateY(0);
  }
  
  .portfolio__sub-title {
	color: var(--main-color);
	font-size: 3rem;
  }
  
  .portfolio__description {
	font-size: 1.6rem;
	margin: 0.3rem 0 1rem;
  }
  
  .portfolio__link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	height: 4rem;
	background-color: var(--bg-color);
	border: 0.2rem solid var(--main-color);
	border-radius: 50%;
	font-size: 2rem;
	color: var(--main-color);
	transition: all 0.5s ease;
  }
  
  .portfolio__link:hover {
	background-color: var(--main-color);
	color: var(--second-bg-color);
	box-shadow: var(--box-shadow);
  }

  /*Testimonials*/
  .testimonial_container {

    text-align: center; /* Center align all contents */
}

.testimonial_title {
    margin-bottom: 20px; /* Add some space between the title and testimonials */
}
  

.testimonial_item_container {
    width: 33%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 30px;
}

.testimonial_card {
    width: 90%;
    border: 4px solid #333333;
    position: relative;
    margin: auto;
    border-radius: 25px;
}

.testimonial_role {
	width: 50%;
    font-size: 18px;
    color: #555;
    font-style: italic;
    margin-bottom: 10px;
	border-bottom: 1px solid #efa617;
}
	


.testimonial_text {
    padding-top: 120px;
    text-align: center;
	color:#3AAFA9;
	
}
	.testimonial_text p {
     color: #000;
	
}

.testimonial_image {
    position: absolute;
    top: -50px;
    left: 27%;
    width: 200px;
    height: 100px;
}

.image {}

.testimonial_image_second {
    border-radius: 25px;
    height: 150px;
    width: 150px;
}

.testimonial_bottom {
    background-color:  #3AAFA9;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.testimonial_stories_link {
    text-decoration: none;
}

.hr_style {
    width: 50%;
    text-align: center;
    
}

.testimonial_card {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.testimonial_bottom {
    margin-top: auto;
}

.testimonial_company_image {
    filter: grayscale(100%);
}

@media screen and (max-width: 600px) {
    .testimonial_item_container {
        width: 100%;
    }
}

  
  
  /* --Contact-- */
  
  .contact {}
  
  .contact__title {
	margin: 0 0 3rem 0;
  }
  
  .contact__form {
	margin: 1rem auto 3rem;
  }
  
  .form-contact {
	max-width: 70rem;
	text-align: center;
  }
  
  .form-contact__item {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  
  .form-contact__item input,
  .form-contact__textarea {
	width: 100%;
	padding: 1.5rem;
	font-size: 1.6rem;
	color: var(--text-color);
	background-color: var(--second-bg-color);
	border-radius: 0.8rem;
	margin: 0.7rem 0;
  }
  
  .form-contact__item input {
	width: 49%;
  }
  
  .form-contact__textarea {
	resize: none;
	margin: 0.7rem 0;
  }
  
  .form-contact__submit-btn {
	display: inline-block;
	padding: 1rem 2.8rem;
	background-color: var(--main-color);
	border-radius: 4rem;
	box-shadow: var(--box-shadow);
	font-size: 1.6rem;
	color: var(--second-bg-color);
	letter-spacing: 0.1rem;
	font-weight: 600;
	cursor: pointer;
  }
  
  .form-contact__submit-btn:hover {
	box-shadow: none;
  }
  
  .contact__info {
	text-align: center;
	margin-bottom: 4rem;
  }
  
  .contact__info-item {
	font-size: 1.6rem;
	margin-bottom: 1.5rem;
  }
  
  .contact__info-item i {
	margin-right: 1rem;
  }
  
  /* --Footer-- */
  
  .footer {
	background-color: var(--main-color); /* Set the same color as the main color */
	padding: 2rem 9%;
	color: var(--second-bg-color);
	text-align: center;
  }
  
  .footer__logo {
	font-size: 2.5rem;
	color: var(--second-bg-color);
	font-weight: 600;
	cursor: pointer;
	transition: color 0.3s ease;
  }
  
  .footer__logo:hover {
	color: var(--text-color);
  }
  
  .footer__social {}
  
  .footer__social-link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	height: 4rem;
	background-color: transparent;
	border: 0.2rem solid var(--second-bg-color);
	border-radius: 50%;
	font-size: 2rem;
	color: var(--second-bg-color);
	margin: 0 1.5rem;
	transition: all 0.5s ease;
  }
  
  .footer__social-link:hover {
	background-color: var(--second-bg-color);
	color: var(--text-color);
	box-shadow: var(--box-shadow);
  }
  
  .footer__text {
	font-size: 1.6rem;
	color: var(--second-bg-color);
	margin-top: 3rem;
  }
  

/* --Media-- */
@media (max-width: 1200px) {
	html {
		font-size: 55%;
	}
	.menu__link {
		font-size: 2.6rem;
	}
}
@media (max-width: 991px) {
	.header {
		padding: 2rem 3%;
	}
	.menu__link {
		font-size: 2.6rem;
	}
	.page-section {
		padding: 10rem 3% 5rem;
	}
	.footer {
		padding: 2rem 3%;
	}
}
@media (max-width: 767px) {
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}
	.menu__icon span,
	.menu__icon:before,
	.menu__icon:after {
		left: 0;
		position: absolute;
		height: 0.1rem;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #131313;
	}
	.menu__icon:before,
	.menu__icon:after {
		content: '';
	}
	.menu__icon:before {
		top: 0;
	}
	.menu__icon:after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%) translate(0px, -50%);
	}
	.menu__icon._active span {
		transform: scale(0);
	}
	.menu__icon._active:before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.menu__icon._active:after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}
	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: var(--second-bg-color);
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}
	.menu__body._active {
		left: 0;
	}
	.menu__body:after {
		content: '';
		position: fixed;
		width: 100%;
		height: 70px;
		top: 0;
		left: 0;
		background-color: var(--bg-color);
	}
	.menu__list {
		flex-direction: column;
		align-items: center;
	}
	.menu__list > li {
		margin: 0 0 6rem 0;
	}
	.menu__link {
		font-size: 3.6rem;
	}
	.header__logo {
		z-index: 5;
	}
	.home {
		flex-direction: column;
	}
	.home__image img {
		width: 70vw;
		margin: 4rem 0;
	}
	.about {
		flex-direction: column-reverse;
	}
	.about img {
		width: 70vw;
		margin: 4rem 0;
	}
	.services__title {
		margin: 0px 0 4rem 0;
	}
	.portfolio__items {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 617px) {
	.portfolio__items {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 450px) {
	html {
		font-size: 50%;
	}
	.form-contact__item input {
		width: 100%;
	}
}
@media (max-width: 365px) {
	.home__image img,
	.about__image img {
		width: 90vw;
	}
	.footer {
		flex-direction: column-reverse;
	}
	.footer__icon-top {
		margin: 0 0 2rem 0;
	}
}
